/* Анімація для заголовків */
.fade-enter {
  opacity: 0;
  transform: translateY(-20px);
}

.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.fade-exit {
  opacity: 1;
  transform: translateY(0);
}

/* Анімація для форм */
.form-container .fade-enter {
  opacity: 0;
  transform: scale(0.95);
}

.form-container .fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.form-container .fade-exit {
  opacity: 1;
  transform: scale(1);
}

.form-container .fade-exit-active {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 300ms, transform 300ms;
}

/* Синя кнопка */
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
  color: #fff;
}